<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key><string>Kuori</string>
    <key>CFBundleDisplayName</key><string>Kuori</string>
    <key>CFBundleExecutable</key><string>Kuori</string>
    <key>CFBundleIdentifier</key><string>com.ishanmalu.kuori</string>
    <key>CFBundleIconFile</key><string>Kuori</string>
    <key>CFBundlePackageType</key><string>APPL</string>
    <key>CFBundleShortVersionString</key><string>__VERSION__</string>
    <key>CFBundleVersion</key><string>__VERSION__</string>
    <key>LSMinimumSystemVersion</key><string>14.0</string>
    <key>NSHighResolutionCapable</key><true/>
    <key>LSUIElement</key><true/>
    <key>NSHumanReadableCopyright</key><string>MIT licensed. Personal project.</string>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict><key>default</key><string>Convert with Kuori…</string></dict>
            <key>NSMessage</key><string>convertFiles</string>
            <key>NSPortName</key><string>Kuori</string>
            <key>NSRequiredContext</key><dict/>
            <key>NSSendTypes</key>
            <array><string>public.file-url</string><string>NSFilenamesPboardType</string></array>
        </dict>
    </array>
</dict>
</plist>
